<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

<table>
  <thead>
    <tr>
      <th>Steps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list.list_steps.each do |list_step| %>
      <tr>
        <td><%= list_step.description %></td>

        <td><%= link_to 'Edit', (edit_list_list_step_path list_step.list_id, list_step) %></td>
        <td><%= link_to 'Destroy', (list_list_step_path list_step.list_id, list_step) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to 'Add step', new_list_list_step_path(@list) %>
</p>


